<%= form_with(model: [@timesheet, interval]) do |form| %>
  <% if interval.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(interval.errors.count, "error") %> prohibited this interval from being saved:</h2>

      <ul>
        <% interval.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <br/>

  <div>
    <%= form.label :date, style: "display: block" %>
    <%= form.date_field :date %>
  </div>

  <br/>

  <div>
    <%= form.label :time_in, style: "display: block" %>
    <%= form.time_field :time_in %>
  </div>

  <br/>

  <div>
    <%= form.label :time_out, style: "display: block" %>
    <%= form.time_field :time_out %>
  </div>

  <br/>

  <div>
    <%= form.submit %>
  </div>
<% end %>
