<div id="<%= dom_id interval %>">
  <p>
    <strong>User:</strong>
    <%= interval.user %>
  </p>

  <p>
    <strong>Pay period:</strong>
    <%= interval.pay_period %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= format_date(interval.date) %>
  </p>

  <p>
    <strong>Time in:</strong>
    <%= format_time(interval.time_in) %>
  </p>

  <p>
    <strong>Time out:</strong>
    <%= format_time(interval.time_out) %>
  </p>

</div>
