<div id="<%= dom_id interval %>">
  <p>
    <strong>User:</strong>
    <%= interval.user %>
  </p>

  <p>
    <strong>Pay period:</strong>
    <%= interval.pay_period %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= interval.date %>
  </p>

  <p>
    <strong>Time in:</strong>
    <%= interval.time_in %>
  </p>

  <p>
    <strong>Time out:</strong>
    <%= interval.time_out %>
  </p>

</div>
