<%= link_to "< Back to overview", @timesheet %>

<br/>
<br/>

<h1>Timesheet #<%= @timesheet.id %> Breakdown</h1>
<div style="display: flex; justify-content: space-between;">
  <div>
    <h5><%= @timesheet.pay_period.display_dates %></h5>
    <h5><%= @timesheet.user.display_full_name %></h5>
  </div>
  <div style="display: flex; flex-direction: column; align-items: flex-end;">
    <p><strong>Duration: </strong><%= format_duration(@timesheet.total_duration) %></p>
    <% if @editable %>
      <%= link_to "+ New interval", new_timesheet_interval_path(@timesheet) %>
    <% else %>
      <strong style="color: red;">Closed for edits</strong>
    <% end %>
  </div>
</div>

<br/>
<br/>

<div id="intervals">
  <% @intervals.each do |interval| %>
    <div id="<%= dom_id interval %>" style="display: flex; justify-content: space-between;">
      <%= render interval %>
      <p>
        <%= link_to "View", timesheet_interval_path(timesheet_id: @timesheet.id, id: interval.id) %>
      </p>
    </div>
  <% end %>
</div>


