<div id="<%= dom_id timesheet %>">
  <% pay_period = PayPeriod.find(timesheet.pay_period_id) %>

  <p>
    <strong>Timesheet:</strong>
    #<%= timesheet.id %>
  </p>

  <p>
    <%= User.find(timesheet.user_id).display_full_name %>
    |
    Pay Period #<%= pay_period.id %>
    |
    <%= pay_period.display_dates %>
  </p>

</div>
