<p style="color: green"><%= notice %></p>

<%= render @timesheet %>

<div>
  <%= link_to "Edit this timesheet", edit_timesheet_path(@timesheet) %> |
  <%= link_to "Back to timesheets", timesheets_path %>

  <%= button_to "Destroy this timesheet", @timesheet, method: :delete %>
</div>
