<div id="<%= dom_id pay_period %>">
  <p>
    <strong>Active:</strong>
    <%= pay_period.active %>
  </p>

  <p>
    <strong>Start:</strong>
    <%= format_date(pay_period.start) %>
  </p>

  <p>
    <strong>End:</strong>
    <%= format_date(pay_period.end) %>
  </p>

  <p>
    <strong>Call:</strong>
    <%= format_date(pay_period.call) %>
  </p>

</div>
